<h2>About Link</h2>
<p>
  Die AG Link ist eine Gruppe Studierender unterschiedlichster Fachrichtungen die sich kritisch mit
  den Wechselprozessen zwischen IT und Gesellschaft beschäftigen.
</p>

<h2>Kontakt</h2>

<p>
  Wir sind immer offen für neue Mitglieder. Die Treffen finden jede Woche Donnerstags
  ab 19h im Raum S112 im Seminargebäude (Campus Augustusplatz) statt.
  Eine Anmeldung ist nicht erforderlich. Fragen zum jeweiligen Treffpunkt oder zur AG
  allgemein bitte an die angegebene Mailadresse senden.
</p>

<hr/>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fas fa-at fa-lg main-list-item-icon"></span>
    ag-link [at] riseup.net
  </li>
</ul>
